* {
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif, Arial;
}
html, body {
	height:100%;
}
h1, p {
	text-decoration: none;
	color: #000000;
}
ul {
	list-style: none;
}
.bold {
	font-weight: bold;
}
.center {
	text-align: center;
}

.front {
	text-align: left;
}

.end{
    text-align: right;
}

.italic {
	font-style: italic;
}

.pale {
	color:#D0D0D0;
}

.font20{
    font-size: 20px;
}

.padding{
    height: 18px;
}

.align_top {
	vertical-align: top;
}

.margin_auto {
	margin: auto;
}

.boder_red {
	border-color: red !important;
}

.body_wrap {
	height: 100%;
    font-size: 12px;
    font-family: Helvetica;
    background-color: #f0f0f0;
}

.box_wrap {
	margin: 20px 50px;
    background-color: #ffffff;
    border: 1px #ffffff;
    border-radius: 5px;
    padding: 10px 35px 20px 35px;
    overflow: auto;
}

.input_label_wrap {
    padding-bottom: 15px;
	width: 100%;
}

.login_form {
    width: 55%;
    margin: 0 auto;
}

.submit_button {
	display: block;
    width: 100px;
	background-color: #dedede;
	border: 1px solid #d9d9d9;
	cursor: pointer;
	text-align: center;
	color: #000000;
	font-size: 12px;
	padding: 6px 0;
	border-radius: 5px;
	text-decoration: none;
}

.submit_button:hover {
	background-color: #d1d1d1;
	border-color:#d9d9d9;
	transition: 0.3s;
	color: #000000;
}

.table_button {
	display: block;
    width: 80px;
	background-color: #dedede;
	border: 1px solid #d9d9d9;
	cursor: pointer;
	text-align: center;
	color: #000000;
	font-size: 11px;
	padding: 3px 0;
	border-radius: 2px;
	text-decoration: none;
}

.table_button:hover {
	background-color: #d1d1d1;
	border-color:#d9d9d9;
	transition: 0.3s;
	color: #000000;
}

.flex_split{
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
}

.button_box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 18px;
}

.border_wrap{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    background-color: #e6e6e6;
    border-radius: 5px;
    padding: 10px 35px 20px 35px;
}

.input_label_wrapper{
    padding-bottom: 15px;
	width: 175px;
}

/*--------------- Utility End --------------*/
/*--------------- Header Start --------------*/

.admin_nav_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin: 20px 50px;
    background-color: #ffffff;
    border: 1px #ffffff;
    border-radius: 5px;
    padding: 10px 35px 20px 35px;
}

.nav_button {
	display: block;
	font-size: 16px;
	padding: 10px 0;
    text-decoration: none;
    color : #000000;
    transition: 0.3s;
}

.nav_button:hover {
    transition: 0.3s;
    color : #5b5b5b;
}

/*--------------- Header End --------------*/
/*------------- Materiel Start  -----------*/

#material_datatable{
    font-size: 12px;
}

.dollar_sign{
	font-size: 12px;
	display: inline;
	padding-left: 4px;
}

.close_popup{
    position : absolute;
	display : block;
	top: 10px;
	right : 10px;
	font-size : 22px;
	color : #000000;
	cursor : pointer;
}

.popup_wrap{
    display: none;
}

.materiel_popup,
.distributor_popup,
.client_popup,
.user_popup{
    position: relative;
    right: 30px;
	background: white;
	border-radius : 3px;
    display: block;
	width : 400px;
    padding: 30px 30px 5px 30px;
}

.label_top{
    display: block;
    font-size: 14px;
}

/*------------- Materiel End  -----------*/
/*------------- Client Start  -----------*/

.client_email_wrap{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.client_email_wrapper{
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.client_contact_input{
    width : 164px;
}

/*------------- Client End  -----------*/
/*------------- Utilisateur Start  -----------*/

.user_email_output{
    padding: 6px 0 0 0;
    font-size: 13px;
}

/*------------- Utilisateur End  -----------*/

/*------------- Login Start  -----------*/

.login_body_wrap {
	display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: Helvetica;
    background-color: #f0f0f0;
}

.login_wrap{
    width: 300px;
    height: 150px;    
    margin-top: 100px;
    background-color: #ffffff;
    border: 1px #ffffff;
    border-radius: 5px;
    padding: 40px;
    overflow: auto;
}

/*------------- Login End  -----------*/

.task_box{
    width: 100%;
    height: 90px;
    resize: none;
}

.task_wrap_header{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.task_title{
    font-size: 16px;
    height: 30px;
}

.close_task_popup{
	margin-left: 10px;
    font-size: 16px;
}

.task_wrap,
.task_material_wrap{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    background-color: #e6e6e6;
    border-radius: 5px;
    padding: 10px 35px 20px 35px;
}

.facture_material_box{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px 35px 20px 35px;
}

.arrow_size{
    display: none;
    width: 18px;
    height: 18px;
    margin: 0 10px 0 10px;
    
}
